**Task 1 - Create a dataset with 10 rows and 4 columns, where one of the columns must be a salary column**

In [12]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['John', 'Sarah', 'David', 'Emily', 'James', 'Linda', 'Peter', 'Alice', 'Mark', 'Laura'],
    'Age': [32, 28, 36, 31, 29, 34, 27, 30, 33, 26],
    'Salary': [5000, 6000, 7000, 5500, 6500, 7500, 4800, 5200, 6800, 5900] 
}

df = pd.DataFrame(data)

print(df)

   ID   Name  Age  Salary
0   1   John   32    5000
1   2  Sarah   28    6000
2   3  David   36    7000
3   4  Emily   31    5500
4   5  James   29    6500
5   6  Linda   34    7500
6   7  Peter   27    4800
7   8  Alice   30    5200
8   9   Mark   33    6800
9  10  Laura   26    5900

**Task 2 - Calculate the total Survived according Sex column**

In [28]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['John', 'Sarah', 'David', 'Emily', 'James', 'Linda', 'Peter', 'Alice', 'Mark', 'Laura'],
    'Age': [32, 28, 36, 31, 29, 34, 27, 30, 33, 26],
    'Salary': [5000, 6000, 7000, 5500, 6500, 7500, 4800, 5200, 6800, 5900]
}

df = pd.DataFrame(data)

# Adding 'Sex' column to the existing DataFrame
df['Sex'] = ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F']

# Adding 'Survived' column to the existing DataFrame
df['Survived'] = [0, 1, 1, 0, 1, 1, 0, 0, 1, 0]

print(df)

   ID   Name  Age  Salary Sex  Survived
0   1   John   32    5000   M         0
1   2  Sarah   28    6000   F         1
2   3  David   36    7000   M         1
3   4  Emily   31    5500   F         0
4   5  James   29    6500   M         1
5   6  Linda   34    7500   F         1
6   7  Peter   27    4800   M         0
7   8  Alice   30    5200   F         0
8   9   Mark   33    6800   M         1
9  10  Laura   26    5900   F         0

In [11]:
df.groupby(['Sex', 'Survived'])['Survived'].count()

Sex  Survived
F    0           3
     1           2
M    0           2
     1           3
Name: Survived, dtype: int64

**Task 3 - Find the average salary for every employee according to task1**

In [16]:
average_salary = df['Salary'].mean()

print(average_salary)

6020.0

**Task 4 - Check the data types of each column in the DataFrame**

In [29]:
## Adding new datatype checked "Sex" ,"Servived"
data_types = df.dtypes

print(data_types)

ID           int64
Name        object
Age          int64
Salary       int64
Sex         object
Survived     int64
dtype: object